TWILIO_ACCOUNT_SID=your_sid_here
TWILIO_AUTH_TOKEN=your_auth_token_here
TWILIO_FROM=your_twilio_number
TWILIO_TO=receiver_number

EMAIL_ADDRESS=[your_email@gmail.com](mailto:your_email@gmail.com)
EMAIL_PASSWORD=your_app_password
RECEIVER_EMAIL=[receiver_email@gmail.com](mailto:receiver_email@gmail.com)
